/* styles */
body {
  background: pink;
}
@media screen and (min-width: 575px) {
  .paragraphs-subform {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
  /* .paragraphs-subform > div {
    flex: 1 0 auto;
  } */

  .paragraphs-subform .field--name-field-reward-item,
  .paragraphs-subform .field--name-field-materials {
    flex: 1 0 100%;
  }
}

.field--name-field-layer-1 .form-checkboxes,
.field--name-field-layer-2 .form-checkboxes,
.field--name-field-layer-3 .form-checkboxes,
.field--name-field-layer-4 .form-checkboxes,
.field--name-field-layer-5 .form-checkboxes {
	column-count: 4;
}

.field--name-field-inventory {
  font-size: var(--font-size-xs)
}
.form-item--field-inventory-0-subform-field-ammo-type .form-item__label,
.field--name-field-components .form-item__label,
.field--name-field-elements .form-item__label,
.field--name-field-items .form-item__label,
.field--name-field-ingredients .form-item__label,
.field--name-field-potions .form-item__label {
  display: none;
}

.field--name-field-inventory .form-element {
  font-size: var(--font-size-xs);
  padding: var(--input--extrasmall-padding-vertical) var(--input--extrasmall-padding-horizontal);
  min-height: calc(((var(--input--extrasmall-padding-vertical) + var(--input-border-size)) * 2) + var(--input-line-height));
}

.field--name-field-inventory tr .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.field--name-field-inventory .form-item__label {
  font-size: var(--font-size-xs);
}

.field--name-field-inventory .form-element--type-select.form-element {
  padding-right: calc(2rem - var(--input-border-size));
}

.form-item[class*='--field-inventory'] {
  display: flex;
  gap: 0.25rem;
}

.form-item[class*='--field-inventory'] .form-item__label {
  margin-inline-end: 0.5rem;
}

.no-touchevents .field--name-field-inventory .button--extrasmall {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-xxs);
}

/* Walls */
.paragraph-type--walls .paragraphs-subform.form-wrapper > .paragraphs-content:first-child,
.paragraph-type--walls .paragraphs-subform.form-wrapper > .paragraphs-content:last-child,
.paragraph-type--walls .paragraphs-subform > div {
  flex: 0 1 25%;
}

.paragraph-type--walls .paragraphs-subform.form-wrapper > .paragraphs-content:last-child {
  flex: 0 1 20%;
}

.paragraph-type--walls .paragraphs-subform .form-element {
  max-width: unset;
  width: 100%;
}

/* Specific fields, depends on their display order */

/* Display side by side */
.field--name-field-map-height,
.field--name-field-map-width {
  float: left;
}
/* Clear the float of the above fields */
.field--name-field-city {
  clear: both;
}s

.field--name-field-portals .paragraphs-subform.form-wrapper .paragraphs-content:last-child {
  flex: 0 1 50%;
}

.field--name-field-destination-x,
.field--name-field-destination-y,
.field--name-field-x,
.field--name-field-y,
.field--name-field-starting-frame,
.fielf--name-field-end-frame,
.field--name-field-framewidth,
.field--name-field-frameheight
{
  flex: 1 0 50%;
  max-width: 45%;
}

.field--name-field-number-of-frames,
.field--name-field-switch-type,
.field--name-field-repeatable
{
  flex: 1 0 25%;
  max-width: 25%;
}

.field--name-field-crystal .paragraphs-subform.form-wrapper>.paragraphs-content:first-child,
.field--name-field-crystal .paragraphs-subform.form-wrapper>.paragraphs-content:last-child,
.field--name-field-emerald,
.field--name-field-amethyst,
.field--name-field-sapphire,
.field--name-field-topaz,
.field--name-field-ruby {
  flex: 1 0 18%;
  max-width: 18%;
}

.field--name-field-crystal .field--name-field-y,
.field--name-field-crystal .field--name-field-x {
  flex: 0 1 45%;
}

.field--type-entity-reference.field--widget-entity-reference-autocomplete,
.field--type-string.field--widget-string-textfield {
  flex: 1 0 100%;
}

/* Override details component */
td .claro-details {
  width: auto !important;
}
